[package]
name = "rookie"
version = "0.1.3"
edition = "2021"
description = "Load cookie from your web browsers"
license-file = "MIT-LICENSE.txt"
homepage = "https://crates.io/crates/rookie"
documentation = "https://docs.rs/rookie/"
repository = "https://github.com/thewh1teagle/rookie"
readme = "README.md"
keywords = ["windows", "cookies", "rust", "web"]

[lib]
name = "rookie"
path = "src/lib.rs"

[[bin]]
name = "main"
path = "bin/main.rs"

[dependencies]
aes-gcm = "0.10.3"
rusqlite = { version = "0.29.0", features = ["bundled"] }
rust-ini = "0.19.0"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.107"
url = "2.4.1"

[target.'cfg(unix)'.dependencies]
bcrypt-pbkdf = "0.10.0"

[target.'cfg(target_os = "macos")'.dependencies]
bcrypt-pbkdf = "0.10.0"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.51.1", features = ["Win32_Security_Cryptography", "Win32_Foundation"] }
base64 = "0.21.4"
